body{
    min-width: 50px;
    background-image: url("a-floresta-encantada.jpg");
    background-position: center ;
    background-repeat: repeat-y;
    background-size: contain;
    align-items:center;
    margin: auto;
}
header, footer{
    height: 10%;
    width: auto;
    background-color: rgba(200, 200, 200, 0.5);
    font-weight: bold;
}
.divinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.myimg{
    height: 6vh;
    min-height:60px;
    padding: 10px 0 10px 0;
    border-radius: 40px;
}
.divinfo2{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aeaeae80;
    margin: 1% 0 1% 0;
    text-shadow: -1px -1px 0px #aaa, -1px 1px 0px #aaa, 1px -1px 0px #aaa, 1px 0px 0px #aaa;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0 0 0 80%;
}
button{
    width: 40px;
    height: 40px;
    font-size: xx-large;
    background-color: rgba(150, 150, 220, 0.8);
    margin: 5px;
    border-radius: 50%;
}
#buttonAa{
    font-size: large;
}
h1{
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    color:#111;
    text-decoration:underline dotted #222;
    /*text-shadow: 2px 2px #999;*/
    text-shadow: -1px -1px 0px #aaa, -1px 1px 0px #aaa, 1px -1px 0px #aaa, 1px 0px 0px #aaa, 2px 2px #999;;
    text-align: center;
    font-size: xx-large;
    margin-top: 0;
    margin-bottom: 0;
}
i{
    margin: 0 0 0 60%;
    font-weight: bold;
    text-decoration: underline;
    font-size: medium;
}
#principal{
    margin: 0 5vw;
}