@font-face {
    font-family: "2Dumb";
    src: url("2Dumb-webfont.woff") format("woff");
}
@font-face {
    font-family: "3Dumb";
    src: url("3Dumb-webfont.woff") format("woff");
}
body{
    background-color: rgb(147, 179, 201);
    font-family: "3Dumb";
}
h1 {
    color: red;
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
}
h2{
    margin-left: 2em;
}
div{
    margin-left: 1em;
    margin-right: 1em;
    background-color: rgb(197,229,251);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
img{
    border: 4px;
    border-style: solid;
    border-color: darkgoldenrod;
    margin-left: auto;
    margin-right: auto;
}
p{
    background-color: darkkhaki;
}
.centro{
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}
.centro p{
    margin-left: auto;
    margin-right: auto;
}
.vertical{
    align-items: start;
    justify-content: space-between;
    text-align: start;
    flex-direction: column;
}
.vertical p{
    margin-left: 2em;
}
.horizontal{
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
}
.horizontal p{
    margin-left: auto;
    margin-right: auto;
}
.linha{
    flex-direction: row;
    flex: initial;
    align-items: stretch;
}
.linhar{
    flex-direction: row-reverse;
    flex: 1 1 auto;
    align-items: stretch;
}
.coluna{
    flex-direction: column;
    flex: auto;
    align-items: stretch;
}
.colunar{
    flex-direction: column-reverse;
    flex: auto;
    align-items: stretch;
}