p {
    color: green;
    font-size: xx-large;
    text-align: center;
}
body {
    color: black;
    background-color: #a4a4d1;
    padding: 5px;
}
h1 {
    color: blue;
    background-color: rgba(255, 255, 0, 0.774);
    border: 4px solid black;
}
div {
    border: 1px solid #333333;
    width: auto;
    height: auto;
}
#myfoto {
    width: 500px;
    border-radius: 100%;
    box-shadow: inset 10px 10px 10px brown, 10px 10px 10px slateblue;
}
.box {
    width: auto;
    height: 100px;
    margin: 5px;
    padding: 5px;
    border: 4px solid #aa0000;
    background-color: darkmagenta;
    text-align: justify;
    font-weight: bold;
    overflow: auto;
}
.trs {
    background-color: initial;
}

.grad {
    background-image: linear-gradient(#aa00FF, #00aa00);
}
.ima {
    width: 540px;
    height: 540px;
    background-image: url(KenjiYoda.svg);
    background-repeat: no-repeat;
}
.imar {
    background-image: url(ladrilho.png);
    background-repeat: repeat;
}
.borda1{
    background-color: #feaadd;
    border: 10px ridge;
    border-color: aqua azure;
    border-style: solid;
    border-width: 5px;
    border-radius: 10%;
    box-shadow: none;
}
.borda2{
    background-color: #feaadd;
    border: 11px;
    border-color: black;
    border-style: dotted;
    border-width: 5px;
    border-radius: 30%;
    box-shadow: 5px 5px 5px 5px black;
}
.borda3{
    background-color: #feaadd;
    border: 12px;
    border-color: silver;
    border-style: inset;
    border-width: 15px;
    border-radius: 5%;
    box-shadow: inset 5px 5px 5px 5px goldenrod;
}
.borda4{
    background-color: #feaadd;
    border: 13px;
    border-color:yellowgreen;
    border-style: groove;
    border-width: 15px;
    border-radius: 0;
    box-shadow: 5px silver;
}