.bodyclass{
    display: flex;
    flex-direction: row;
}
.leftclass{
    width: 20%;
    background-color: #c0d2e9;
    border-radius: 20px;
    padding: 5px;
}
.rigthclass{
    width: 100%;
}
body{
    background: #d7dbe1;
}
h1{
    color: #433;
    /*text-decoration: underline overline double #8bb5;*/
    text-align: center;
    text-shadow: 0px 5px 5px #8bb, -2px -2px 0px #8bb;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width:200px;
}
ul>li {
    position: relative;
}
li>ul {
    position: absolute;
    left: 199px;
    top: 0;
    display: none;
}
li>ul>li{
    width:260px;
}
ul>li>a {
    display: block;
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    color: #222;
    /*background: #fff;*/
    background: #9bcbec;
    padding: 5px;
    /*margin: 1px;*/
    border-radius: 15px;
    /*border: 1px solid #222;*/
    /*-webkit-text-stroke: 1px #222;*/
    box-shadow: 0px 0px 50px 0px #8bb;
}
a:visited{
    color:#500;
    /*-webkit-text-stroke: 1px #400;*/
}
li:hover>ul {
    display: block;
}
ul>li>a:hover{
    text-decoration:underline;
    font-weight: bold;
    background: #ccc;
}
iframe{
    width: 100%;
    min-width: 800px;
    height: 100%;
    min-height: 630px;
    border-radius: 20px;
    background-color: #c0d2e9;
    border: none;
}
.myimg{
    height: 10vh;
    min-height:120px;
    border-radius: 10px;
    margin: 10%;
}
.divinfo{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    font-weight: bold;
}
.sociais{
    min-height: 150px;
}
.icons{
    padding: 10px;
    color: transparent;
}
.icons:focus, .icons:hover{
    padding: 0;
}
.icons > img{
    height:40px;
    width: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 0px #8bb;
}
.icons:focus > img, .icons:hover >img{
    height:45px;
    width:45px;
}