body{
    max-width: 1080px;
    background-image: url("velha1024x1024.jpg");
    background-position: center;
    background-repeat: repeat;
    align-items:center;
    margin: auto;
}
header, footer{
    height: 10%;
    width: auto;
    background-color: rgba(205, 205, 150, 0.95);
    border-radius: 10px;
}
footer{
    padding: 10px;
}
.divinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.myimg{
    height: 10vh;
    min-height:60px;
    border-radius: 10px;
}
.divinfo2{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}
span{
    font-weight: bold;
    background-color: rgba(240, 205, 49, 0);
}
main{
    display: flex;
    flex-direction: column;
    background-color: rgba(100, 65, 250, 0.95);
    margin: 1% 0 1% 0;
    padding: 1% 0 1% 0;
    align-items: center;
    border-radius: 10px;
    visibility: hidden;
}
h1{
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    color:#333;
    background-color: rgb(150, 100, 220);
    text-decoration:underline dotted #222;
    text-shadow: 2px 2px #999;
    text-align: center;
    border-radius: 30px;
    padding: 0 20px;
    margin: 0;
}
#sectconf{
    background-color: rgb(100, 65, 250);
    font-weight: bold;
}
input{
    background-color: rgba(200, 200, 255, 0.5);
    border: none;
    border-radius: 10px;    
    font-size: large;
    font-weight: bold;
}
#board{
    width: 90%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#boardhead{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    visibility: hidden;
}
#boardhead>span{
    margin: 10px;
}
#exemplobt, #filejson{
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:rgba(200, 200, 255, 0.5);
    font-size: small;
    border: none;
}
#categorys{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    visibility: hidden;
}
#categorys>div{
    font-weight: bold;
    font-size: xx-large;
    text-shadow: -1px -1px 0px #aaa, -1px 1px 0px #aaa, 1px -1px 0px #aaa, 1px 0px 0px #aaa;
    padding: 10px;
    border-radius: 30px;
    border: 3px solid black;
}
#textmessage, #roundtofinish, #scores, #questionsfile{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    width:fit-content;
    padding: 10px;
    border-radius: 30px;
    border: 3px solid black;
}
#questionsfile{
    background-color: rgb(200, 200, 255);
}
#textmessage{
    background-color: #F5EA14;
    text-shadow: -1px -1px 0px #aaa, -1px 1px 0px #aaa, 1px -1px 0px #aaa, 1px 0px 0px #aaa;
    padding: 10px;
}
#scores, #roundtofinish{
    background-color: rgb(241, 57, 217);
}
#exemplo{
    display: none;
    width: auto;
    height: auto;
    background-color: #aaa;
    text-align: start;
    z-index: 1;
    position: fixed;
    left: auto;
    top: auto;
    overflow: auto;
}
#question, #answer{
    visibility: hidden;
    display: flex;
    justify-content: center;
    font-style: italic;
    text-shadow: -1px -1px 0px #aaa, -1px 1px 0px #aaa, 1px -1px 0px #aaa, 1px 0px 0px #aaa;
}
#timeshow, .resp{
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-self: center;
    align-items: center;
    background-color: #F5EA14;
    border:inset 5px #222;
    padding: 1%;
    border-radius: 50%;
    font-weight: bold;
    visibility: hidden;
}
.resp{
    width: auto;
    height: auto;
    background-color: crimson;
    border-radius: 30px;
    font-weight: bolder;
    border:inset 5px #222;
    font-size: x-large;
}
#resp1{
    background-color: #F5EA14;
}
#resp2{
    background-color: #6904c9;
}
pre{
    font-weight:normal;
    font-size: medium;
}
a{
    background-color: transparent;
}
strong{
    background-color: #8db4f3;
    padding: 10px;
    border: 3px solid black;
    border-radius: 30px;
}
/*pagina de edição*/
#mainedit{
    visibility: visible;
    align-items: flex-start;
    background-color: #999;
}
#savefile{
    
}
#questnumber{
    background-color: #eee;
    padding: 0 5px;
}
#menuedit, #questionedit{
    width: 100%;
}
nav{
    margin: 5px 10px;
    width: 100%;
}
#questarea{
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    width: 95%;
}
#questarea > input{
    background-color: #eee;
    width: 100%;
}
label{
    font-weight: bold;
}
#btinsert{
    margin: 10px;
    width: 10%;
}
#messagetext{
    background-color: rgba(200, 200, 255, 0.5);
    width: auto;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
/*controle de audio*/
#music-control{
    border: #000 solid 5px;
    border-radius: 12px;
    min-width: 145px;
    min-height: 45px;
    height: 6%;
    width: 12%;
    background-color: var(--beige-bg);
    position: absolute;
    top: 10px;
    right: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .audiobtn{
    background-color: transparent;
    width: 30px;
    height: 30px;
  }
  .audiobtn:hover{
    cursor: pointer;
  }
  .audiobtn:active{
    filter: invert(98%) sepia(2%) saturate(9%) hue-rotate(61deg) brightness(103%) contrast(103%);
  }
  #mute-audio{
    background-image: url("mute-vol.svg");
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
  }
  #down-audio{
    background-image: url("down-vol.svg");
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
  }
  #up-audio{
    background-image: url("up-vol.svg");
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
  }
  #max-audio{
    background-image: url("max-vol.svg");
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
  }
  