@font-face {
    font-family: 'alternative Rock';
    src: url(fonts/ALTERNATIVEROCK.ttf);
}
body{
    max-width: 360px;
    background-image: url("velha1024x1024.jpg");
    background-position: center;
    background-repeat: repeat;
    align-items:center;
    margin: auto;
}
header, footer{
    height: 10%;
    width: auto;
    background-color: rgba(200, 200, 200, 0.8);
    border-radius: 10px;
}
.divinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.myimg{
    height: 6vh;
    min-height:60px;
    border-radius: 10px;
}
.divinfo2{
    display: flex;
    flex-direction: column;
}
span{
    font-weight: bold;
    background-color: rgba(220, 220, 220, 0.9);
}
main{
    display: flex;
    flex-direction: column;
    background-color: rgba(174, 174, 174, 0.9);
    margin: 5% 0 5% 0;
    padding: 5% 0 5% 0;
    align-items: center;
    border-radius: 10px;
}
h1{
    font-family: 'alternative Rock','Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    color:#333;
    /*background-color: rgba(220, 220, 220, 0.3);*/
    text-decoration:underline dotted #222;
    text-shadow: 2px 2px #999;
    text-align: center;
    background-color: darksalmon;
    padding: 0 15px;
    border:solid #333;
    border-radius: 20px;
}
#playaction, #finishaction{
    font-family: 'alternative Rock','Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    color:#333;
    background-color: gold;
    /*text-shadow: 2px 2px #999;*/
    text-align: center;
    padding: 10px 5px;
    border:solid #333;
    border-radius: 20px;
}
#board{
    width: 130px;
    height: 130px;
    align-items: center;
    background-color: crimson;
    padding: 5px 5px 0 5px;
    border:solid #333;
    border-radius: 20px;
}
button{
    width: 40px;
    height: 40px;
    font-family: 'alternative Rock','Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}
#playgamer, #champ{
    font-size: x-large;
    color: crimson;
}
table{
    background-color: #eee;
    text-align:center;
}
th{
    background-color: #eea;
    min-width: 50px;
}