body{
    
    display: flex;
    flex-direction: column;
    border: 0px;
    background-color: aquamarine;
    text-align: center;
    background-image: linear-gradient(135deg, #ccf, #eef);
}
body::-webkit-scrollbar-track {
    background-color: #ccc;
}
body::-webkit-scrollbar {
    width: 2px;
}
body::-webkit-scrollbar-thumb {
    background: #55a;
}
.index{
    height:40em;
}
iframe{
    border: none;
    border-radius: 10px;
}
.framecorpo{
    border-radius: 10px;
    border: none;
    height: 100%;
}
.framemenu{
    height: auto;
    height: 5.5em;
}
img{
    height:100%;
    width:100%;
    border-radius: 40%;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: large;
    font-weight: bolder;
    color: #335;
    /*-webkit-text-stroke: 1px #225;*/
}
/*h2{
    font-style: italic;
    font-weight: 900;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #225;
    -webkit-text-stroke: 2px #558;
}*/
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-decoration: underline;
    color: #335;
    text-align: center;
}
.bodymenu{
    flex-direction: row;
    align-self:stretch;
    justify-content: space-between;
}
.linksmenu{
    flex-direction: row;
    font-weight: bold;
    align-self:stretch;
    width: auto;
    height: auto;
}
.fotomenu{
    height: 3.5em;
    width: 3.5em;
    margin-right: 1em;
}
a{
    font-weight: bold;
    text-decoration: none;
}
a:link {
    font-weight: bold;
    text-decoration: none;
    color: #222;
}
a:visited {
    text-decoration: none;
    color:#225;
}
a:focus, a:hover {
    font-weight: bolder;
    font-size: large;
    color: #aaa;
    border-bottom: 1px solid;
    text-decoration: none;
    -webkit-text-stroke: 1px #639;
}
a:active {
    background: #119;
    color: #a9e;
    text-decoration: none;
}
.bodycorpo{
    display: flex;
    flex-direction: column;
    height: auto;
}
.bodycorpo > div{
    display: flex;
    align-items: center;
    text-align: center;
    border: 5px #aaa;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px rgba(50,50,100, 0.5);
    scroll-padding: 1px;
}
.gerais{
    justify-content:center;
    flex-direction: column;
    flex-direction: row;
    margin: auto;
}
.gerais > div{
    text-align: start;
    width:fit-content;
    margin: 1%;
    font-size: large;
}
.gerais > div >img{
    height: 300px;
    width: 300px;
    border-radius: 10%;
}
.gerais > div > a{
    font-size: medium;
}
.objetivos{
    justify-content:center;
    margin: auto;
    align-self: stretch;
}
.objetivos > div{
    align-self: stretch;
    margin: 1%;
    text-align: justify;
}
.resumo{
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.resumo > div{
    text-align: justify;
    margin: 1%;
}
.formacao{
    display: flex;
    align-self: stretch;
    text-align: column;
    margin: auto;
}
.formacao > div{
    text-align: start;
    margin: 3%;
}
.certificados{
    justify-content:center;
    margin: 1px;
    align-self: stretch;
}
.certificados > div{
    align-self: stretch;
    margin: 1%;
    text-align: start;
    width: 50%;
}
.certificados >div >iframe{
    width: 100%;
    height: 100%;
}
.portifolio{
    justify-content:center;
    margin: 1px;
    align-self: stretch;
}
.portifolio > div{
    align-self: stretch;
    margin: 1%;
    text-align: end;
    width: 50%;
}
.portifolio >div >iframe{
    width: 100%;
    height: 100%;
}
.experiencia{
    justify-content:center;
    margin: auto;
    align-self: stretch;
}
.experiencia > div{
    align-self: stretch;
    margin: 1%;
    text-align: justify;
}


.esquerda{
    justify-content: start;
    flex-direction: column;
}
.esquerda > div{
    text-align: start;
    width:fit-content;
    margin: 1%;
    font-size: large;
}
.esquerda > div >img{
    height: 350px;
    width: 350px;
    border-radius: 20%;
}

.sociais{
    display: flex;
    flex-direction: column;
}
.icons{
    width: 60px;
}
.icons:focus, .icons:hover{
    background:none;
}
.icons > img{
    height:30px;
    width: 30px;
    border-radius: 2px;
}
.icons:focus > img, .icons:hover >img{
    height:60px;
    width:60px;
    background: #966;
    border-radius: 30%;
}
.inicio{
    justify-content: space-between;
}
.direita{
    justify-content: end;
}
.direita > div{
    width:fit-content;
    text-align: end;
    margin: 1%;
}
.direita > div >img{
    height: 300px;
    width: 300px;
    border-radius: 20%;
}
.esquerda > div > a{
    font-size: medium;
}
.alinharacima{
    align-self: stretch;
}