@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300;400;500&display=swap');

body, nav{    
    display: flex;
    flex-direction: column;
    border: 0px;
    text-align: center;
    background: #fafafa;
}
body::-webkit-scrollbar-track {
    background-color: #ccc;
}
body::-webkit-scrollbar {
    width: 2px;
}
body::-webkit-scrollbar-thumb {
    background: #55a;
}
.index{
    height:98vh;
    background: none;
}
iframe{
    border: none;
    border-radius: 10px;
}
.framecorpo{
    border-radius: 10px;
    border: none;
    height: 100%;
}
.framemenu{
    height: auto;
    height: 5.5em;
}
img{
    height:50%;
    width:50%;
    border-radius: 20%;
}
h1{
    font-family: 'Lexend Exa', sans-serif;
    font-style: italic;
    font-size: large;
    font-weight: bolder;
    color: #335;
}
h3{
    font-family: 'Lexend Exa', sans-serif;
    font-style: italic;
    text-decoration: underline;
    color: #335;
    text-align: center;
}
.bodymenu, nav{
    flex-direction: row;
    align-self:stretch;
    justify-content: space-between;
}
.linksmenu{
    flex-direction: row;
    font-weight: bold;
    align-self:stretch;
    width: auto;
    height: auto;
}
.fotomenu{
    height: 3.5em;
    width: 3.5em;
    margin-right: 1em;
}
a{
    font-weight: bold;
    text-decoration: none;
}
a:link {
    font-weight: bold;
    text-decoration: none;
    color: #222;
}
a:visited {
    text-decoration: none;
    color:#225;
}
a:focus, a:hover {
    font-weight: bolder;
    color: #aaa;
    border-bottom: 1px solid;
    text-decoration: none;
}
a:active {
    background: #119;
    color: #a9e;
    text-decoration: none;
}
.bodycorpo{
    display: flex;
    flex-direction: column;
    height: auto;
}
.bodycorpo > div{
    display: flex;
    /*align-items: center;*/
    text-align: center;
    border: 5px #111;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgb(200,200,250);
    scroll-padding: 1px;
    min-width: 50%;
}
.divs{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    flex-direction: row;
    margin: auto;
    width: 80vw;
    min-width: 500px;
}
.divs > div{
    text-align: center;;
    width:fit-content;
    margin: 1%;
    font-size: large;
}
.divs > div >img{
    height: 200px;
    width: 200px;
    border-radius: 5%;
}
.divs > div > a{
    font-size: medium;
}
#objetivosdiv{
    justify-content:center;
}
#resumodiv > div{
    text-align: justify;
}
#formacaodiv{
    display: flex;
    align-self: stretch;
    text-align: column;
    margin: auto;
}
#formacaodiv > div{
    text-align: start;
    margin: 3%;
}
#certificadosdiv{
    justify-content:center;
    align-self: stretch;
}
#certificadosdiv > div{
    align-self: stretch;
    margin: 1%;
    text-align: start;
    width: 50%;
}
#certificadosdiv >div >iframe{
    width: 100%;
    height: 100%;
}
#portifoliodiv{
    justify-content:center;
    align-self: stretch;
}
#portifoliodiv > div{
    align-self: stretch;
    margin: 1%;
    text-align: end;
    width: 50%;
}
#portifoliodiv >div >iframe{
    width: 100%;
    height: 100%;
}
#experienciadiv{
    justify-content:center;
    margin: auto;
    align-self: stretch;
}
#experienciadiv > div{
    align-self: stretch;
    margin: 1%;
    text-align: justify;
}
#contatosdiv{
    display: flex;
    align-self: stretch;
    text-align: column;
    margin: auto;
}
#contatosdiv > div{
    text-align: start;
    margin: 5%;
}
.sociais{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 70px;
    height: 50%;
}
.icons{
    width: 30px;
}
.icons:focus, .icons:hover{
    background:none;
}
.icons > img{
    height:30px;
    width: 30px;
    border-radius: 2px;
}
.icons:focus > img, .icons:hover >img{
    height:35px;
    width:35px;
}