/*@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@300;400;500&display=swap');*/

body, nav{    
    display: flex;
    flex-direction: column;
    border: 0px;
    text-align: center;
    /*background: #fcfcfc;*/
}
body::-webkit-scrollbar-track {
    /*background-color: #ccc;*/
}
body::-webkit-scrollbar {
    width: 2px;
}
body::-webkit-scrollbar-thumb {
    /*background: #55a;*/
}
.index{
    height:98vh;
    background: none;
    width: 85vw;
    min-width: 500px;
    margin: auto;
}
iframe{
    border: none;
    border-radius: 10px;
}
.framecorpo{
    border-radius: 10px;
    border: none;
    height: 100%;
}
.framemenu{
    height: auto;
    height: 5.5em;
}
img{
    height:50%;
    width:50%;
    border-radius: 20%;
}
h1,h2{
    font-family: 'Lexend Exa', sans-serif;
    font-style: italic;
    font-size: large;
    font-weight: bolder;
    /*color: #335;*/
}
h3,h4{
    font-family: 'Lexend Exa', sans-serif;
    font-style: italic;
    text-decoration: underline;
    /*color: #335;*/
    text-align: center;
}
h4{
    margin: 0.3em;
}
.bodymenu, nav{
    flex-direction: row;
    align-self:stretch;
    justify-content: space-between;
}
#alterntmenu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.linksmenu{
    flex-direction: row;
    font-weight: bold;
    align-self:stretch;
    width: auto;
    height: auto;
}
.fotomenu{
    height: 3.5em;
    width: 3.5em;
    margin-right: 1em;
}
a{
    font-weight: bold;
    text-decoration: none;
}
a:link {
    font-weight: bold;
    text-decoration: none;
    color: #222;
}
a:visited {
    text-decoration: none;
    color:#225;
}
a:focus, a:hover {
    font-weight: bolder;
    /*color: #aaa;*/
    text-decoration: none;
}
a:active {
    background: #119;
    /*color: #a9e;*/
    text-decoration: none;
}
.bodycorpo{
    display: flex;
    flex-direction: column;
    height: auto;
}
.bodycorpo > div{
    display: flex;
    /*align-items: center;*/
    /*text-align: center;*/
    border: 5px #111;
    border-radius: 10px;
    /*box-shadow: 2px 2px 4px 2px rgb(200,200,250);*/
    scroll-padding: 1px;
    min-width: 50%;
}
.divs{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    flex-direction: row;
    margin: auto;
    width: 80vw;
    min-width: 500px;
}
.divs > div{
    text-align: justify;
    width:fit-content;
    margin: 0 1%;
    font-size: large;
}
.divs > div >img{
    height: 100px;
    width: 100px;
    border-radius: 5%;
}
/*.divs > div > a{
    font-size: medium;
}*/
#resumodiv > div{
    text-align: justify;
}
#formacaodiv > div{
    text-align: start;
}
#certificadosdiv{
    justify-content:st;
    align-self: stretch;
}
#certificadosdiv > div{
    align-self: stretch;
    margin: 1%;
    text-align: start;
    width: 50%;
}
#certificadosdiv >div >iframe{
    width: 100%;
    height: 100%;
}
#portifoliodiv{
    justify-content:center;
    align-self: stretch;
}
#portifoliodiv > div{
    align-self: stretch;
    margin: 1%;
    text-align: end;
    width: 50%;
}
#portifoliodiv >div >iframe{
    width: 100%;
    height: 100%;
}
#experienciadiv{
    justify-content:start;
    margin: auto;
    align-self: stretch;
}
#experienciadiv > div{
    align-self: stretch;
    margin: 1%;
    text-align: justify;
}
.sociais{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 70px;
    height: 50%;
}
.icons{
    width: 30px;
}
.icons:focus, .icons:hover{
    background:none;
}
.icons > img{
    height:30px;
    width: 30px;
    border-radius: 2px;
}
.icons:focus > img, .icons:hover >img{
    height:35px;
    width:35px;
}
.flink{
    font-weight: bolder;
    font-size: large;
}
.linkcontato{
    font-size: small;
}
#infobasic{
    margin: 10px 0;
    font-size: medium;
}
#infobasic>strong{
    font-size: medium;
}
hr{
    width: 90%;
    margin: auto;
}
.notprint{
    display: none;
}
.notshow>{
    display: none;
}
.divcol > div{
    width: auto !important;
}