@font-face {
    font-family: Gorditas;
    src: url("./assets/Gorditas-Regular.ttf") format("truetype"), url("./assets/Gorditas-Bold.ttf") format("truetype");
  }
body{
    height: auto;
    width: auto;
    background-color: #8BA;
    display: flex;
    flex-wrap: wrap;
}
main{
    background-color: #7458e4;
    border: solid 5px #F5EA14;
    border-radius: 10px;
    padding: 4px;
    box-shadow: 0 0 1em;
    /*max-width: 18vw;*/
    /*min-width: 245px;*/
    font-size: xx-large;
}
main>*,main>*>*{
    margin-top: 10px;
}
b{
    font-weight: bold;
    font-family: Gorditas;
    padding: 5px 0;
}
i{
    font-style: italic;
}
input, button{
    max-width: 90%;
    background: #bbb;
    background-color: #bbb;
    accent-color: #888;
    border: none;
    margin: 5px;
    font-size: large;
    font-weight: bold;
}
input[type="range"]{
    min-width: 50px;
}
input[type="number"]{
    width: 30%;
    border-radius: 10px;
    background-color: #acacfc;
    text-align: center;
}
#gamerconfig{
    display: flex;
    flex-direction: column;
    top: 2vh;
    left: 5%;
    position: fixed;
    z-index: 1;
    background-color: #7458e4;
    border: solid 5px #F5EA14;
    border-radius: 10px;
    padding: 5px;
    max-height: 100vh;
    /*width: min-content;*/
    max-width: 80vw;
    box-shadow: 0 0 1em;
    /*display: none;*/
    font-size: xx-large;
}
#gamerplay{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#divtime{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#divtime>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Iniciar, #bRestart,#Saveps{
    max-width: 400px;
    border-radius: 5px;
    background-color: greenyellow;
    color: blueviolet;
    font-weight: bold;
    border: solid black 2px;
    border-color: black;
    padding: 0 15px;
    font-family: Gorditas;
    box-shadow: 0.2em 0.3em 0.4em #333;
    font-size: xx-large;
}
#Saveps{
    background-color: #d92689;
    color: #ebd602;
}
textarea{
    height:17vh;
    /*width: 50vw;*/
    resize: none;
    font-size: large;
    background-color: #e5f5f5;
    border: none; 
    scrollbar-width: thin;
    scrollbar-color: #303030 #e5e5e5;
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: #e5e5e5;
}
::-webkit-scrollbar-thumb {
    background: #000000;
}
label{
    display: flex;
    flex-direction: column;
    padding: 0 4px;
    border: solid #222 1px ;
    min-width: 25%;
}
.labelshow{
    background-color: goldenrod;
    min-width: 0;
}
.labeltime{
    background-color: #fcfcac;
    min-width: 0;
    width: 65px;
    height: 60px;
    padding: 10px 1px;
    border-radius: 50%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0.1em 0.2em 0.4em #333;
}
#formconf{
    display: flex;
    /*flex-wrap: wrap;*/
}
h1{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin: 5px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: gold;
    font-family: Gorditas;
    box-shadow: 0 0 0.5em;
}
h4{
    background-color: #79be6b;
    padding: 5px 0;
    border-radius: 5px;
    margin-top: 2px;
    font-family: Gorditas;
}
span{
    font-weight: bold;
}
.myimg{
    min-height:60px;
}
.divinfo{
    display: flex;
    flex-direction: column;
}
.audio{
    accent-color: #f3f300;
}
#inVel{
    accent-color: #2393f3;
}
.radioop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: start;
    font-weight: bold;
}
.radioop>img{
    height: 10vh;
}
#field{
    position: relative;
    height: 100vh;
    margin: auto;
    margin-top: 0;
    box-shadow: 0 0 1em;
}
#fieldprotect{
    position: absolute;
    height: 100vh;
    width: 80vh;
    margin: auto;
}
#Soccerfield{
    height: 100vh;
    max-width: 100vw;
}
#divplac, #divactiv{
    display: flex;
    flex-direction: column;
}
#divplac>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f5f535;
    box-shadow: 0.2em 0.3em 0.4em #333;
}
.plac{
    font-weight: bold;
    text-align: center;
    background-color: #ffff17;
    max-width: 2em;
}
#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ballgame,.cabec,.algar{
    display: block;
    position: absolute;
    height: 8%;
    /*superior esquerdo*/
    top: 0%;
    left: 0;
}
.enf{
    border-radius: 40%;
    background-color: #e90;
    box-shadow: 0 0 3em #e90;
}
.ballgame{
    height: 4%;
    /*meio campo*/
    top: 48%;
    left: 47%;
}
#arrow{
    position: absolute;
    height: 12vh;
    top:10%;
    left: 70%;
    transform: rotate(0deg);
}
.cellbox{
    position: absolute;
    top:60%;
    left:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: solid 2px #00000080;
    border-radius: 50%;
    display: none;
}
.cellbox>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cellbt{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: solid 2px #00000080;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    padding: 5%;
}
#cellcontrol{
    border-radius: 5%;
    top:20%;
    left:80%;
}
#cellboxexitfs{
    border-radius: 5%;
    top:5%;
    left:5%;
    height: 10vh;
}
.cellgir{
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
