body{
    min-width: 50px;
    background-image: url("Background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    align-items:center;
    margin: auto;
}
header, footer{
    height: 10%;
    width: auto;
    background-color: rgba(200, 200, 200, 0.8);
    font-weight: bold;
}
.divinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.myimg{
    height: 6vh;
    min-height:60px;
}
.divinfo2{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(174, 174, 174, 0.5);
    padding: 0 1% 1% 1%;
}
h1, h2{
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    color:#333;
    text-decoration:underline dotted #222;
    text-shadow: 2px 2px #999;
    text-align: center;
    margin: 0.5vh;
    border-radius: 5px;
    background-color: rgba(174, 174, 200, 0.7);
}
fieldset, .divmodal{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    border: none;
}
input, #hitpage{
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: #ccc;
    background-color: #444;
    height: 40px;
    margin: 5px;
    padding: 0 15px;
    border-radius: 20px;
    border: none;
}
fieldset > label{
    display: flex;
    flex-direction: row;
    min-width: 60vw;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#videoframe, #mvideoframe{
    display: none;
}
#mosaic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid 1px #222;
    background-color: #444;
}
.mosaicimg{
    height: 160px;
    border: solid 1px #222;
}
textarea{
    width: 50vw;
    min-height: 20vh;
    background-color: rgb(204, 204, 204, 0.8);
    display: none;
}
.divmodal{
    display: none;
    position: absolute;
    justify-content: start;
    top: 0px;
    left: 0px;
    height: 550vh;
    width: 100%;
    /*top: 2vh;*/
    /*left: 2vw;*/
    /*width: 94vw;*/
    /*height: auto;*/
    /*background-image: url("Background.jpg");*/
    background-color: rgba(100, 100, 100, 0.8);
    /*border: #222 solid 2px;*/
    flex-direction: column;
    /*padding: 0 10px;*/
}
.dataimg{
    margin: 0.5vh 5%;
    border-radius: 5px;
    background-color: rgba(174, 174, 200, 0.7);
    max-width: 100%;
    display: none;
}

.btlink{
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
}
.btlink>img{
    height: 30px;
    width: 30px;
    background-size: cover;
}
.btlink:hover{
    background-color: rgba(218, 165, 32, 0.4);
}
#asearchin{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(100, 100, 100, 0.8);
    color: #ccc;
    border-radius: 20px;
    width: 80%;
    min-width: 200px;
}
#asearchin>label{
    display: flex;
    flex-direction: column;
    min-width: 30%;
}
#asearchin>label>input{
    height: unset;
    min-width: 40%;
}
#btsasearchin{
    display: flex;
    flex-direction: row !important;
}
#hitpage{
    height: 30px;
    min-width: 50px;
    text-align: center;
}
#modalerrror{
    color: red;
    font-weight: bolder;
    background-color: #333;
    background-image: none;
    width: auto;
    top: 15vh;
    left: 15vw;
}
#modalerrror>h3,#modalerrror>p,#modalerrror>ul{
    margin: 0.5%;
}
.imgtext{
    background-color: rgba(174, 174, 200, 0.4);
}