body{
    min-width: 50px;
    max-width: 1100px;
    background-image: url("Background.webp");
    background-position: center;
    background-repeat: repeat-y;
    align-items:center;
    margin: auto;
}
header, footer{
    height: 10%;
    width: auto;
    background-color: rgba(200, 200, 200, 0.8);
}
.divinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.myimg{
    height: 20vh;
    min-height:60px;
}
.divinfo2{
    display: flex;
    flex-direction: column;
}
span{
    font-weight: bold;
    background-color: rgba(220, 220, 220, 0.8);
}
main{
    display: flex;
    flex-direction: column;
    background-color: rgba(174, 174, 174, 0.8);
    margin: 1% 0 1% 0;
}
h1, h2, h3{
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    color:#333;
    background-color: rgba(220, 220, 220, 0.3);
    text-decoration:underline dotted #222;
    text-shadow: 2px 2px #999;
    text-align: center;
}
#memoryall{
    border:inset 2px #222;
}
#memoryspace{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 120 px;
    /*background-color: rgba(220, 220, 220, 0.9);*/
    padding-bottom: 10px;
}
.memory{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 5vw;
    min-width: 60px;
    border:inset 2px #222;
    background-color: rgba(220, 220, 220, 0.9);
}
.memory>span{
    font-weight:unset;
}
.memory>label{
    font-size: large;
    font-weight: bold;
}
#calculator{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border:inset 2px #222;
    margin-top: 5px;
}
#operators{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
}
#results{
    display: flex;
    flex-direction: column;
}
#result{
    font-size: 20vh;
    color: #a22;
    background-color: rgba(220, 220, 220, 0.9);
}
#results>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}